spring:
  application:
    name: api

  datasource:
    url: jdbc:postgresql://${HOST}:${PORT}/${DATABASE}
    username: ${USER}
    password: ${PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
jwt:
  SECRET_KEY: ${SECRET_KEY}